.well.sidebar-nav
  ul.nav.nav-list
    - for (name in models)
      li(class=(model_name == name) && 'active')
        a(href="/model/#{name}")
          i.icon-list.model-icon(class=(model_name == name) && 'icon-white')
          &nbsp;#{name}
