ul.nav.nav-tabs
  li(class=(typeof is_overview != 'undefined' && 'active')): a(href="/model/#{model_name}") Overview
  li(class=(typeof is_detail != 'undefined' && 'active')): a(href="/model/#{model_name}/detail") Detail
